<footer>
    <div class="f-info">
        <!-- <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div> -->
            
            <div class="f-info-links">
                <a href="/job">Home</a>
                <a href="/job/aboutus">AboutUs</a>
                <a href="/job/terms&condition">Terms & Conditions</a>
                <a href="/job/privacy&cookies">Privacy & Cookie Policy</a>
                <a href="/terms">Browse by Location</a>
                <a href="/terms">Browse by Category</a>
                <a href="/job/contactus">Contact Us</a>
                <a href="/job/new">Post a Job</a>
            
        </div>
    </div>
    <div class="f-info-brand"> &copy;<b>2024 Job<b><span style="color: blue;">Finder</span></b>.com</b></div>
</footer>