<% layout("/layouts/boilerplate.ejs") -%>
<div class="about-us-container">
    <h1>About Us</h1>
</div>
<div class="about-us-content">
    <p>
        JobFinder.com is a multi-national online employment solution for people seeking jobs and the employers who need to find people. 
        At the heart of our mission and vision is innovation: We are changing the way people think about finding work. 
        Every day we help people change their lives.
    </p>
</div>
